.column1 {
    align-items: center;
    width: 393px;
    height: 300px;

    border-radius: 43px;
    background: rgba(236, 253, 245, 0.78);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.49);
    right: 50px;
}

.column2 {
    align-items: center;
    text-align: center;

    border-radius: 43px;
    background: #ECFDF5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.inside-column {
    margin-top: 1rem;
    width: 334px;
    padding: 130px 150px;
    justify-content: center;
    height: 280px;
    position: relative;
 
    border-radius: 12px;
    background: #ECFDF5;
    box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.25);
}

.inside-text {
    position: relative;
    bottom: 7rem;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
}

.download-link{
    position: relative;
    text-align: center;
    width: 278px;
    height: 120px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid rgba(43, 45, 51, 0.25);
    padding-top: 50px;
    color: black;
    font-size: 16px;
    bottom:112px;
    right: 8.3rem;
}

.btn{
    margin-left: 11px;
    width: 150px;
    height: 35px;
    flex-shrink: 0;
    color: #ffffff;
    background-color: #10B981;
  }
  #btnB{
    width: 150px;
    height: 35px;
    flex-shrink: 0;
  
    color: #10B981;
    background-color: #ffffff;
    border: 1px solid;
   
  }