.img {
    background-color: white;
    width: 55.34px;
    height: 57px;
    border: 0.2px solid black;
    border-radius: 50%;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    margin: auto;
}

.container {
    background-color: #ECFDF5;
    height: 100vh;
    width: 100wh;
}
span{
    color:black;
}
.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.svg-about{
    position: relative;
    right: 0.5rem;
}

.svg-logout{
    position: relative;
    right: 0.4rem;
} 

.svg-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}