<div class="container">
  <div>
    <div class="row">
      <div class="row2" style="position: relative;top: 2rem;">
        <div class="d-flex justify-content-center" style="font-size: 24px;">Good Morning,</div>
        <div class="d-flex justify-content-center" style="font-size: 48px;"><b>Thabisile</b></div>
      </div>
    </div>
    <div class="row">
      <div class="profile-content" style="position: relative; top: 2.5rem;">
        <div class="shadow p-4 mb-1 rounded">
          <div class="col d-flex justify-content-evenly" style="position: relative;right: 8.4rem; top: 0.3rem;">
            <div class="img"></div>
          </div>
          <div class="col d-flex justify-content-center" style="position: relative;bottom: 3rem;right: 1rem;">
            <b>Thabisile
              Skhosana</b></div>
        </div>
        <div class="col d-flex justify-content-center"
          style="color: #ABABAB; position: inherit; bottom: 5rem; right: 1rem;">thabisile@gmail.com</div>
      </div>
    </div>
    <div class="row">
      <div class="user-business" style="position: relative; top: 7rem;">
        <div class="d-flex justify-content-start"
          style="font-size: 20px; color: #495250; position: relative; left: 1rem;"><b>Your Businesses</b></div>

        <div class="col d-flex justify-content-start " style=" border-radius: 11px; position: relative; left: 1rem; top: 1rem;
      border:2px solid #748984;
      padding: 20px;
      width: 94.96px;
      height: 119px;justify-content: center;background-color: #D9D9D9;"><div class="img" style="position: relative;bottom: 6px; margin: 0;"><div class="svg-container"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></div></div></div>

     <div class="col d-flex justify-content-end" style=" border-radius: 11px;
      border:2px solid #748984;
      padding: 20px;
      width: 94.96px;
      height: 119px;position: relative;left: 8rem; bottom: 6.4rem;background-color: #D9D9D9;">
        <div class="img" style="position: relative;bottom: 6px; margin: 0;"></div>
      </div>RegiPro Tech</div>
    </div>

      </div>
    </div>
    <div class="row">
      <div class="column3" style="position: relative;top: 5rem;">
        <div class="d-flex justify-content-start">About App</div>
        <div class="d-flex justify-content-start">Log Out</div>
      </div>