.container {
    position: absolute;
    top: 12rem;
}

.form-control {
    width: 311px;
    height: 58px;
}

.btn {
    background-color: var(--BTN__BGCLOLOR);
    border: none;
    width: 311px;
    height: 48px;
    position: relative;
    top: 20px;
    color: white;
}

.cancel-link {
    color: #10B981;
    position: relative;
    top: 40rem;
}

.new-credentials{
    font-style: bold;
    font-size: 25px;
    
}