<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <div class="d-flex justify-content-start">
        <h4 class="text-center"><strong>NEW CREDENTIALS</strong></h4>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">
          <div class="form-group mb-4">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control mb-2" formControlName="email">
            <small class="form-text text-muted"
              *ngIf="resetForm.controls['email'].touched && resetForm.controls['email'].errors?.['required']">
              Please enter email address.!
            </small>

            <label for="exampleInputEmail1">New Password</label>
            <input type="password" class="form-control mb-2" formControlName="password">
            <small class="form-text text-muted"
              *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
              Please enter email address.!
            </small>

            <label for="exampleInputEmail1">Confirm Password</label>
            <input type="password" class="form-control mb-2 input-lg" formControlName="confirmPassword">
            <small class="form-text text-muted"
              *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
              Please enter email address.!
            </small>

            <small class="form-text text-muted"
              *ngIf="resetForm.controls['email'].touched && resetForm.controls['email'].errors?.['email']">
              <span style="color: red;">Email address not well formed.!</span>
            </small>
          </div>
          <button type="submit" class="btn" [disabled]="!resetForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="d-flex justify-content-center cancel-link" routerLink="/login">Cancel</div>
</div>