<h4 class="text-center"><strong>New Credentials</strong></h4>

<div class="container">
	<form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">
		<div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" formControlName="email">
      <small class="form-text text-muted" 
        *ngIf="resetForm.controls['email'].touched && resetForm.controls['email'].errors?.['required']">
          Please enter email address.!
      </small>

			<label for="exampleInputEmail1">New Password</label>
      <input type="password" class="form-control" formControlName="password">
      <small class="form-text text-muted" 
        *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
          Please enter email address.!
      </small>

      <label for="exampleInputEmail1">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <small class="form-text text-muted" 
        *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
          Please enter email address.!
      </small>

<small class="form-text text-muted"
      *ngIf="resetForm.controls['email'].touched && resetForm.controls['email'].errors?.['email']">
        <span style="color: red;">Email address not well formed.!</span>
      </small>
</div>
    <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">Submit</button>
  </form>
</div>




