<h4 class="text-center"><strong>Reset Password</strong></h4>

<div class="container">
	<form [formGroup]="forgotPasswordform" (ngSubmit)="onSubmit()" novalidate>
		<div class="form-group">
			<label for="exampleInputEmail1">New Password</label>
      <input type="password" class="form-control" formControlName="password">
      <small class="form-text text-muted" 
        *ngIf="forgotPasswordform.controls['password'].touched && forgotPasswordform.controls['password'].errors?.['required']">
         This is a required field!
      </small>
      <label for="exampleInputEmail1">Re-type Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <small class="form-text text-muted" 
        *ngIf="forgotPasswordform.controls['confirmPassword'].touched && forgotPasswordform.controls['confirmPassword'].errors?.['required']">
         This field is required!
      </small>

      <small class="form-text text-muted"
      *ngIf="forgotPasswordform.controls['password'].touched && forgotPasswordform.controls['password'].errors?.['password']">
     <span style="color: red;">This field is required!</span> 
      </small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordform.valid">Submit</button>
  </form>
</div>