<a [routerLink]="['/steps']">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
    </svg>
</a>
<div class="text-container">
    <h6>RegiPro</h6>
    <div *ngFor="let item of data">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">{{item.industry}}</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tech">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">{{item.description}}</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Internet cafe">
        </div>
    </div>

    <button class="btn">Regenerate</button>
</div>

<!-- <div *ngFor="let item of data">
        {{ item.name }} - {{ item.description }}
      </div> -->