.column1 {
  align-items: center;
  width: 364px;
  height: 282px;
  border-radius: 43px;
  background: rgba(236, 253, 245, 0.78);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.49);
}

.column2 {
  align-items: center;
  text-align: center;
  height: 331px;
  border-radius: 43px;
  background: #ecfdf5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.inside-column {
  margin-top: 1rem;
  width: 334px;
  padding: 130px 150px;
  justify-content: center;
  height: 249px;
  position: relative;
  border-radius: 12px;
  background: #ecfdf5;
  box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.25);
}
.inside-text {
  position: relative;
  bottom: 7rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.download-link {
  position: relative;
  text-align: center;
  width: 278px;
  height: 120px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid rgba(43, 45, 51, 0.25);
  padding-top: 50px;
  color: black;
  font-size: 16px;
  bottom: 112px;
  right: 8.3rem;

  a {
    font-weight: 400;
  }
}

.bi {
  width: 65px;
  height: 25px;
  flex-shrink: 0;
}
input {
  background-color: #ecfdf5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container {
  display: inline-flex;
  padding: 28px 0px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 393px;
  height: 852px;
  border-radius: 20px;
  background: rgba(236, 253, 245, 0.35);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text-container {
  border-radius: 20px;
  background: rgba(236, 253, 245, 0.35);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  display: flex;
  padding: 29px 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  margin-top: 6rem;
  margin-left: 5rem;
  margin-right: 6rem;
  position: fixed;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
h6 {
  color: #2b283a;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
.btn {
  width: 100%;
  color: #ffffff;
  background-color: #10b981;
}

.form {
  height: 400px;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

/*===== FORM =====*/
.l-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);

  &__title {
    font-weight: 400;
    margin-bottom: 3rem;
  }
  &__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
  }
  &__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: 0.3s;
  }
  &__button {
    display: block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
    }
  }
}

/*Input focus move up label*/
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  background-color: #ecfdf5;
  font-weight: 500;
  z-index: 10;
}
.form__label {
  background-color: #ecfdf5;
}
/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-size: var(--small-font-size);
  font-weight: 500;
  background-color: #ecfdf5;
}

/*Input focus*/
.form__input:focus {
  border: 1.5px solid var(--first-color);
}
// Align title to the center
.form__title {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid black !important;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.modal {
  background-color: var(--PRIMARY_BGCOLOR);
  .modal-content {
    background-color: var(--PRIMARY_BGCOLOR);
  }
}

.download-icon {
  margin-right: -1rem;
}
