    <div class="text-container">
        <h6>RegiPro</h6>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Industry</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tech">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">About</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Internet cafe">
        </div>
    </div>






<button routerLink="/home">Start</button>