.btn{
    width: 150px;
    height: 35px;
    flex-shrink: 0;
    color: #ffffff;
    background-color: #10B981;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.all-set {
    display: flex;
    margin: auto;
    color:#121815 ;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    width: 292px;
    height: 70px;

    font-size: 24px;
    font-style: normal;
}
