<div class="container">
    <h6>Register your business with CIPC</h6>


    <div class="step1">

        <img class="img1" src="../../../assets/images/STEP 1.svg" alt="" data-bs-toggle="modal" data-bs-target="#myModal">
        <img class="img1" src="../../../assets/images/STEP 2.svg" alt="" data-bs-toggle="modal" data-bs-target="#myModal2">
        <img class="img1" src="../../../assets/images/STEP 3.svg" alt="" data-bs-toggle="modal" data-bs-target="#myModal3">
        <img class="img1" src="../../../assets/images/STEP 4.svg" alt="" data-bs-toggle="modal" data-bs-target="#myModal4">
        <img class="img1" src="../../../assets/images/STEP 1 (1).svg" alt="" data-bs-toggle="modal" data-bs-target="#myModal5">
        <div class="text-center">
            <button>Proceed<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="container mt-3">
    <h2>Modal Scroll Example</h2>
    <p>Click on the button to open the modal.</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Open modal
    </button>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <!-- Modal body -->
            <div class="modal-body">
                <h3>Register as a business</h3>
                <p>
                    To be able to transact with CIPC, one needs to register as a customer on the e-services website. Once
                    registered, a virtual account is created in the customer name. Registering as a customer is a once-off process.
                    Keep your customer code and password safe for use when transacting with us.
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- 2nd Modal -->
<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Deposit Funds</h3>
                <p>
                    Funds may be deposited into the CIPC bank account. Customers are urged to only deposit funds that are required for the transaction. Bulk deposits are discouraged. A customer code must be used as a reference for funds to be allocated accordingly.

                    New e-service transaction accept card payments only
                    
                    Service	Fee
                    Name reservation	R50
                    Private company with standard MOI; Non-profit company without members and with standard MOI or
                    Co-operative	R125
                    Private company with customised MOI; Personal liability company; Public company; State owned company; Non-profit company without member and with customised MOI or Non-profit company without member and with customised MOI	R425
                    External company	R400
                    Domestication of a foreign company	R100
                    Bank details
                    
                    Bank name
                    ABSA
                    Account Type:	Transmission Account
                    Account Name:	CIPC
                    Account Number:	4055 68 1017
                    Branch Name:	Van der Walt Street
                    Payment Reference:	CUSTOMER CODE
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- 3rd Modal -->
<div class="modal" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Reserve a corporate name</h3>
                <p>
                    For more information about name reservations click here.  Any for-profit company may be registered with or without a company name.  If a reserved name is not included in the initial application, the company will be registered with its enterprise number. A name may be added at a later stage through a company name change (amendment of MOI). A company name change requires an approved name reservation and a special resolution to effect a change to the Memorandum of Incorporation (MOI).

                    Available Platforms for name reservations:
                    
                    New E-services – www.cipc.co.za / Online Transacting / New E-services
                    BizPortal – www.bizportal.gov.za
                    CIPC Mobile App
                    Self Service Terminal
                    Banks (as part of company registration process)
                    Associated name reservations or names requiring supporting documentation namereservationsandregistrations@cipc.co.za
                    e-Services – www.cipc.co.za / Online Transacting / e-Services
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- 4th Modal -->

<div class="modal" id="myModal4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Company registration form</h3>
                <p>
                    Forms needed

                    Compulsory forms for all manually registered companies, except foreign companies
                    
                    CoR14.1
                    CoR14.1A
                    Additional forms for Non-Profit Company (NPC)
                    
                    CoR15.1C (compulsory for NPC without members and with standard MOI)
                    CoR15.1D or draft your own MOI (not required if CoR15.1C is used)
                    CoR15.1E (not required if CoR15.1C or CoR15.1D is used)
                    Compulsory forms for foreign company
                    
                    CoR 20.1
                    CoR20.1A
                    CoR21.2
                    Compulsory forms for domestication of foreign company
                    
                    CoR 17.1
                    CoR14.1
                    CoR14.1A
                    either standard CoR15.1A or own MOI
                    Additional compulsory forms for public company and state-owned company
                    
                    CoR14.1 Annexure D
                     CoR15.1B or draft your own MOI
                    Additional compulsory forms for personal liability company 
                    
                     CoR15.1B or draft your own MOI
                    Optional forms for all manually registered companies
                    
                     CoR14.1C (optional for all companies)
                    CoR14.1 Annexure D (optional for non-profit company, private company or personal liability company)
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- 5th Modal -->
<div class="modal" id="myModal5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Submit Documents</h3>
                <p>
                    Submit the required documents

                    The following supporting documents must be included in your e-mail:
                    
                    Confirmation notice of name reservation – CoR9.4 (if applicable)
                    All forms required
                    Certified identity copy of applicant
                    Certified identity copy of all incorporators and directors
                    Power of attorney (if applicable)
                    NB: Lodgement of a passport copy is only accepted as proof of identity for non-residents of South Africa. For South African residents a green bar-coded/ smart  ID copy must be lodged.
                    
                    E-mail: companydocs@cipc.co.za
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>




