h6 {
  color: black;
  text-align: center;
  font-family: var(--font-stack);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.96px;
}

.text {
  position: relative;
  color: #10b981;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: #273549;
  }
}

button {
  width: 186.5px;
  height: 35px;
  font-family: var(--font-stack-2);
  border-radius: 10px;
  background: #10b981;
  color: #ffffff;
  margin-top: 8%;
  border: none;
}

.modal-footer button {
  display: flex;
  width: 112px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

a {
  color: #10b981;
}

.img1 {
  max-width: 100%;
  height: auto;
}

.bi-arrow-left {
  font-size: var(--font-size-normal);
  padding-left: 0.5em;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media (min-width: 1024px) {
  h6 {
    font-size: var(--font-size-medium);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      text-align: center;
      left: 12%;
      bottom: -2px;
      width: 50%;
      height: 4px;
      border-radius: 20px;
      background-color: #273549;
    }
    br {
      display: none;
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 1000px;
    }

    button {
      width: 600px;
      height: 45px;
      margin-bottom: 15px;
      font-size: 1.5rem;

      i {
        font-size: 1.5rem;
      }

    }

  }
}
