<div class="container">
    <a [routerLink]="['/business-plan']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </a>
    <h6>Register Your <br> <span class="text">Business with CIPC</span></h6>
    <div class="step1">

        <img class="img1"  src="../../../assets/images/STEP_1.svg" alt="" data-bs-toggle="modal"
            data-bs-target="#myModal" style="height: 100px;">
        <img class="img1" src="../../../assets/images/STEP_2.svg" alt="" data-bs-toggle="modal"
            data-bs-target="#myModal2" style="height: 100px;">
        <img class="img1" src="../../../assets/images/STEP_3.svg" alt="" data-bs-toggle="modal"
            data-bs-target="#myModal3" style="height: 100px;">
        <img class="img1" src="../../../assets/images/STEP_4.svg" alt="" data-bs-toggle="modal"
            data-bs-target="#myModal4" style="height: 100px;">
        <img class="img1" src="../../../assets/images/STEP_1_1.svg" alt="" data-bs-toggle="modal"
            data-bs-target="#myModal5" style="height: 100px;">
        <div class="text-center">
            <button [routerLink]="['/business-pro']" routerLinkActive="router-link-active" > Proceed &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </button>
        </div>
    </div>


    <!-- 1st Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Register as a business</h3>
                    <p>
                        To be able to transact with CIPC, one needs to register as a customer on the e-services website.
                        Once
                        registered, a virtual account is created in the customer name. Registering as a customer is a
                        once-off process.
                        Keep your customer code and password safe for use when transacting with us.You may also follow a
                        <a href="https://www.cipc.co.za/?page_id=4447">Step by step guide</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Close &nbsp;X</button>
                </div>

            </div>
        </div>
    </div>
    <!-- 2nd Modal -->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Deposit Funds</h3>
                    <p>
                        Funds may be deposited into the CIPC bank account. Customers are urged to only deposit funds
                        that
                        are required for the transaction. Bulk deposits are discouraged. A customer code must be used as
                        a
                        reference for funds to be allocated accordingly.

                        New e-service transaction accept card payments only

                        Service Fee
                        Name reservation R50
                        Private company with standard MOI; Non-profit company without members and with standard MOI or
                        Co-operative R125
                        Private company with customised MOI; Personal liability company; Public company; State owned
                        company; Non-profit company without member and with customised MOI or Non-profit company without
                        member and with customised MOI R425
                        External company R400
                        Domestication of a foreign company R100
                        Bank details

                        Bank name
                        ABSA
                        Account Type: Transmission Account
                        Account Name: CIPC
                        Account Number: 4055 68 1017
                        Branch Name: Van der Walt Street
                        Payment Reference: CUSTOMER CODE
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Close &nbsp;X</button>
                </div>

            </div>
        </div>
    </div>
    <!-- 3rd Modal -->
    <div class="modal fade" id="myModal3">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Reserve a corporate name</h3>
                    <p>
                        For more information about name reservations click here. Any for-profit company may be
                        registered
                        with or without a company name. If a reserved name is not included in the initial application,
                        the
                        company will be registered with its enterprise number. A name may be added at a later stage
                        through
                        a company name change (amendment of MOI). A company name change requires an approved name
                        reservation and a special resolution to effect a change to the Memorandum of Incorporation
                        (MOI).

                        Available Platforms for name reservations:

                        New E-services – <a href="https://www.cipc.co.za/">www.cipc.co.za</a>/ Online Transacting / New
                        E-services
                        BizPortal – <a href="https://www.bizportal.gov.za/">www.bizportal.gov.za</a> <br>
                        CIPC Mobile App <br>
                        Self Service Terminal <br>
                        Banks (as part of company registration process)
                        Associated name reservations or names requiring supporting <br> Documentation <a
                            href="namereservationsandregistrations@cipc.co.za">namereservationsandregistrations@cipc.co.za</a>
                        e-Services – <a href="https://www.cipc.co.za/">www.cipc.co.za</a> / Online Transacting /
                        e-Services
                        <br><a href="https://www.cipc.co.za/?page_id=3725">Click here</a> for the CIPC service
                        standards.
                        Service Standard is dependent on payment for the
                        transaction being made.

                        <br><a href="https://www.cipc.co.za/?page_id=3725">Click here</a> to log an enquiry (only after
                        the
                        indicated service standard has lapsed).

                        Name transfer

                        An approved name may be transferred to another customer, provided that it has not yet been
                        assigned
                        to an existing entity and it is still valid. Only the owner of the customer code that was used
                        to
                        initially reserve the name can transfer such name to another customer.

                        Click here to apply for name reservation and/or to transfer the ownership of the reserved name.

                        Defensive name

                        To apply for a defensive name click here
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Close &nbsp;X</button>
                </div>

            </div>
        </div>
    </div>
    <!-- 4th Modal -->

    <div class="modal fade" id="myModal4">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Company registration form</h3>
                    <!-- <p> -->
                    <b>Forms needed</b> <br>

                    Compulsory forms for all manually registered companies, except foreign companies. <br>
                    <div class="app">
                        <a href="https://www.cipc.co.za//wp-content/uploads/Forms/Companies/CoR-14_1.pdf"
                            target="_blank">CoR14.1</a>
                        <br>
                    </div>

                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/Cor14_1A.pdf">CoR14.1A</a> <br>
                    Additional forms for Non-Profit Company (NPC) <br>

                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR15_1C.pdf">CoR15.1C
                    </a>(compulsory for NPC without members and with standard MOI). <br>
                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR15_1D.pdf">CoR15.1D</a> or
                    draft your own MOI (not required if CoR15.1C is used) <br>
                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR15_1E.pdf">CoR15.1E</a> (not
                    required if CoR15.1C or CoR15.1D is used) <br>
                    Compulsory forms for foreign company <br>

                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR20_1.pdf">CoR 20.1</a> <br>
                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR20_1A.pdf">CoR20.1A</a> <br>
                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR21_2.pdf">CoR21.2</a> <br>
                    Compulsory forms for domestication of foreign company <br>

                    <a href="https://www.cipc.co.za//wp-content/uploads/Forms/Companies/CoR17_1.pdf">CoR 17.1</a> <br>
                    <a href="https://www.cipc.co.za//wp-content/uploads/Forms/Companies/CoR-14_1.pdf">CoR14.1</a> <br>
                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/Cor14_1A.pdf">CoR14.1A</a> <br>
                    either standard <a
                        href="https://www.cipc.co.za//wp-content/uploads/Forms/Companies/CoR15_1A.pdf">CoR15.1A</a> or
                    own MOI. <br>
                    Additional compulsory forms for public company and state-owned company <br>

                    <br> <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR14_1D.pdf">CoR14.1
                        Annexure D</a>
                    <a href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR15_1B_v1_4.pdf">CoR15.1B</a>
                    or draft your own MOI <br>
                    Additional compulsory forms for personal liability company <br><a
                        href="https://www.cipc.co.za/wp-content/uploads/Forms/Companies/CoR15_1B_v1_4.pdf">CoR15.1B</a>
                    or draft your own MOI <br>
                    Optional forms for all manually registered companies <br>

                    <a href="">CoR14.1C</a> (optional for all companies) <br>
                    <a href="">CoR14.1 Annexure D</a> (optional for non-profit company, private company or personal
                    liability company)
                    <!-- </p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Close &nbsp;X</button>
                </div>

            </div>
        </div>
    </div>

    <!-- 5th Modal -->
    <div class="modal fade" id="myModal5">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Submit Documents</h3>
                    <p>
                        Submit the required documents <br>

                        The following supporting documents must be included in your e-mail: <br>

                        Confirmation notice of name reservation – CoR9.4 (if applicable) <br>
                        All forms required <br>
                        Certified identity copy of applicant <br>
                        Certified identity copy of all incorporators and directors
                        Power of attorney (if applicable) <br>
                        NB: Lodgement of a passport copy is only accepted as proof of identity for non-residents of
                        South
                        Africa. <br>For South African residents a green bar-coded/ smart ID copy must be lodged. <br>

                        E-mail: <a href="companydocs@cipc.co.za">companydocs@cipc.co.za</a> <br>

                        <a href="https://www.cipc.co.za/?page_id=3725">Click here</a> for the CIPC service standards.
                        Service Standard is dependent on payment for the
                        transaction being made. <br>

                        <a href="https://enquiries.cipc.co.za/Index.aspx">Click here</a> to log an enquiry (only after
                        the indicated service standard has lapsed).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Close &nbsp;X</button>
                </div>

            </div>
        </div>
    </div>
</div>