.user-business{
  margin-bottom: 150px;
 
 
}

.img {
  background-color: white;
  width: 57px;
  height: 57px;
  border: 0.2px solid black;
  border-radius: 50%;
  margin: auto;
}
.aligningRows{

    position: relative;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.container {
  background-color: #ECFDF5;
  height: 100vh;
  width: 100wh;
}
span{
  color:black;
}
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.svg-about{
  position: relative;
  right: 0.5rem;
}
.svg-about-logout{
 background-color:#ECFDF5 ;
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  padding: 10px;
}

.svg-logout{
  position: relative;
  right: 0.4rem;
}

.svg-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
p::first-letter {

  text-transform: capitalize;
  
}
.circle{
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  margin-top: .5rem;
}
.circle-business{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  margin-top: .5rem;
}
.circleB{
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;

  background-color: #ffffff;
  border-radius: 50%;
  border: 0.2px solid black;
}
.bic{
  position: absolute;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
}
.bic2{
  position:relative;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
}
.containerEg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  width: 365px;
  height: 120px;
  padding: 1.5rem;
  flex-shrink: 0;

  border-radius: 5px;
  background-color: #ECFDF5;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text-center{
    font-size: 12px;
    margin-top: 3.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}