<div class="container-sm">
    <section class="container p-5 my-5 ">
        <img class="logo"
            src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
            alt="logo" srcset="">

        <img class="img-responsive"
            src="https://www.glassdoor.com/employers/app/uploads/sites/2/2021/03/GoogleDrive_640X469_How-to-Rescind-an-Offer-Letter-02-1280x992.png">

        <h2>Make your dream a reality </h2>
        <p>Sign up to begin your business journey with an experienced buddy.Ready when you are</p>
        <div class="buttons">

            <button class="btn1">Sign up </button>

            <button class="btn2">Sign in </button>
        </div>


    </section>
</div>