.btn {
    width: 311px;
    height: 58px;
    position: relative;
    left: 25px;
    top: 25px;
}

.form-control {
    width: 311px;
    height: 48px;
    position: relative;
    left: 25px;
    top: 25px;
}

.container{
    position: absolute;
    top: 150px;
}

.cancel-link{
    position: absolute;
    top: 25.5rem;
    left: 10rem;
    color: #10B981;
}