<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <div class="d-flex justify-content-start">
        <h4 style="font-size: 25px;"><strong>Forgot Password</strong></h4>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-start">
        <p>Provide your account's email for which you want to reset your password for.</p>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="container">
          <form [formGroup]="forgotPasswordform" (ngSubmit)="RequestResetUser(forgotPasswordform)" novalidate>
            <div class="form-group mt-5">
              <label for="exampleInputEmail1" style="position: absolute; left:2.5rem;">Email Address</label>
              <input type="email" class="form-control" formControlName="email"><br>
            </div>
            <div style="margin-left: 2rem;">
              <small class="form-text text-muted"
                *ngIf="forgotPasswordform.controls['email'].touched && forgotPasswordform.controls['email'].errors?.['required']">
                <span style="color: red;">Please enter email address.! </span> 
              </small>

              <small class="form-text text-muted"
                *ngIf="forgotPasswordform.controls['email'].touched && forgotPasswordform.controls['email'].errors?.['email']">
                <span style="color: red;">Email address not well formed.!</span>
              </small>
            </div>
    
            <button type="submit" class="btn mt-4" [disabled]="!forgotPasswordform.valid"
              style="background-color:var(--BTN__BGCLOLOR) ; border: none; color: var(--PRIMARY_BGCOLOR);">Request reset
              password link</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center "><a routerLink="/" class="cancel-link">Cancel</a></div>
    </div>
  </div>
  <app-loading-indicator *ngIf="(loaderService.loading$ | async)"></app-loading-indicator>
</div>