<div class="container" id="topcontainer">

    <div class="row">
        <div class="col">
            <img class="img-responsive py-5 mx-auto d-block"
            src="../../../assets/images/quize 3 ill.svg">
        </div>
    </div>
</div>

<div class="row row-cols-5 g-1 py-3 mx-4">
    <div class="col">
        <div class="circle">
            <div class="number text-white">
                1
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                2
            </div>
        </div>
    </div>

    <div class="col">
        <div class="border border-dark rounded-circle" id="active">
            <div class="number text-dark ">
                3
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                4
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                5
            </div>
        </div>
    </div>
</div>

<div class="container py-4" id="bottomcontainer">

    <div class="container d-flex justify-content-center">
        <div class="row row-cols-1 py-4">
            <div class="col text-center">
                <p> So {{firstname}} please tell us what is your business about?</p>
            </div>
        </div>
    </div>
    
    <div class="row position-relative py-4">
        <div class="col-10 position-absolute top-50 start-50 translate-middle">
            <input type="text" class="form-control" placeholder="eg. book store">
        </div>
    </div>
    
    <div class="containerB">
        <div class="row row-cols-2 position-relative">
            <div class="col-5 position-absolute bottom-0 start-0 m-4">
                <button type="submit" class="btn" id="btnB">
                    Previous
                </button>
            </div>
    
            <div class="col-5 position-absolute bottom-0 end-0 m-4">
                <button type="submit" class="btn">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>


