<div class="container-sm">
  <img
    class="logo"
    src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
    alt="logo"
    srcset=""
  />

  <img
    class="img-responsive"
    src="../../../assets/images/onboarding.svg"
  />
  <section class="container p-1 my-2">
    <h2 class="mb-4">Unleash your business destiny</h2>
    <p class="p1">
      This analysis is designed to help you generate a business plan for your
      business and also recommend possible funding opportunities available at
      ABSA. The analysis includes a feature that helps you register your
      business with CIPC.
    </p>
    <button>Start</button>
  </section>
</div>
