<div class="container-sm">
  <img
    class="logo"
    src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
    alt="logo"
    srcset=""
  />

  <img
    class="img-responsive"
    src="../../../assets/images/onboarding.svg"
  />
  </div>
  <section class="container px-2">
    <div class="row justify-content-center">
      <h2 class="my-3">Fulfill your business future.</h2>
      <p class=" mb-3">
        This analysis is designed to help you generate a business plan for your
        business and also recommend possible funding opportunities available at
        ABSA. The analysis includes a feature that helps you register your
        business with CIPC.
      </p>
      <button routerLink="/questions" class="btn">Start</button>
    </div>
  </section>
