section {
  margin: auto;
  background-color: #ECFDF5;
}
.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.logo {
  width: 30%;
  color: #10B981;
}
section h2 {
  color: #47bb85;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.p1{
  margin: 0px;
  max-width: 333px;
  color: #121815;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.p2{
  color:lightgrey;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
section button {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
  margin-left: 25%;
  margin-right: 25%;
  height: 30px;
  background-color: #10B981;
  border: 1px solid #10B981;
  color: white;
  outline: none;
  transition: .6s ease;
  border-radius: 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
