section {
  margin: auto;
  background-color: #ECFDF5;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 304.277px;
  height: 253.735px;
  flex-shrink: 0;
}

.logo {
  width: 30%;
  color: #10B981;
}

section h2 {
  color: #47bb85;
  text-align: center;
  font-family: "Times New Roman", Times, serif;

  color: #2B283A;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

}
.p1{
  margin: 0px;
  max-width: 333px;
  color: #121815;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.p2{
  color:lightgrey;
  text-align: center;
  font-family: Inter;
}
.btn{
  margin-left: 11px;
  width: 150px;
  height: 35px;
  flex-shrink: 0;
  color: #ffffff;
  background-color: #10B981;
}