
  h2 {
    color: #47bb85;
    text-align: center;
    color: #2b283a;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }


.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 304.277px;
  height: 253.735px;
  flex-shrink: 0;
}

.logo {
  width: 30%;
  color: #10b981;
}

p {
  margin: 0px;
  max-width: 450px;
  color: #121815;
  text-align: center;
  font-size: 18px;
}

.btn {
  margin-left: 11px;
  font-family: var(--font-stack-2);
  width: 150px;
  height: 35px;
  flex-shrink: 0;
  color: var(--PRIMARY__BTN__TEXT-COLOR);
  background-color: var(--BTN__BGCLOLOR);
}


.btn-sec {
  color: #10b981;
  background: transparent;
  border: solid 1px #10b981;
}