<header>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="">
        <img
          src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
          height="120"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
    </div>
  </nav>

  <div class="row align-items-center justify-content-center">
    <div class="col-sm p-5">
      <img
        src="../../../assets/images/onboarding.svg"
        height="200"
        class="img-fluid"
        width="520"
        alt="Landing-SVG"
        loading="lazy"
      />
    </div>
    <div class="col-sm justify-content-center">
      <div class="d-flex justify-content-start p-2">
        <h2 class="mb-2">Fulfill your business future.</h2>
      </div>
      <div>
        <p class="mb-3">
          This analysis is designed to help you generate a business plan for
          your business and also recommend possible funding opportunities
          available at ABSA. The analysis includes a feature that helps you
          register your business with CIPC.
        </p>
      </div>
      <div class="d-flex justify-content-start gap-5">
        <button routerLink="/questions" class="btn">Start</button>
        <button routerLink="/home" class="btn btn-sec">
          <i class="bi bi-house-door"></i>&nbsp;Home
        </button>
      </div>
    </div>
  </div>
</header>
