<div class="container">
    <div class="col">
      <div class="row">
        <div class="d-flex justify-content-start" style="padding-top: 30px ;position: absolute;left: 1rem;" routerLink="/home"><i class="bi bi-arrow-left"></i></div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center heading" style="position: absolute;top: 7rem;">About Us
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center text-content" style="position: relative;top: 210px;align-content: center;">
          <p>Regi-Pro is a digital startup that uses <br>artificial intelligence to help users/<br>members gain access to
            the business <br>world.</p>
        </div>
        <div class="d-flex justify-content-center text-content" style=" position: absolute;
        top: 350px;">
          <p> We are an AI-integrated platform. We <br>provide users with assistance and <br>support as they enter the
            realm of <br>registered businesses.</p>
        </div>
      </div>
      <div class="row">
        <!-- <div class="d-flex justify-content-center back-btn">
          <button class="btn-back" routerLink="/home">Back</button> -->
        </div>
      </div>
    </div>
  