<div class="container">
    <div class="col">
      <div class="row">
        <div class="d-flex justify-content-start" style="padding-top: 30px ;position: absolute;left: 1rem;" routerLink="/home"><svg
            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
          </svg></div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center" style="font-size: 32px;position: absolute;top: 7rem;"><b>About Us</b>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center text-content" style="position: relative;top: 210px;align-content: center;">
          <p>Regi-Pro is a digital startup that uses <br>artificial intelligence to help users/<br>members gain access to
            the business <br>world.</p>
        </div>
        <div class="d-flex justify-content-center text-content" style=" position: absolute;
        top: 350px;">
          <p> We are an AI-integrated platform. We <br>provide users with assistance and <br>support as they enter the
            realm of <br>registered businesses.</p>
        </div>
      </div>
      <div class="row">
        <!-- <div class="d-flex justify-content-center back-btn">
          <button class="btn-back" routerLink="/home">Back</button> -->
        </div>
      </div>
    </div>
  