header {
  .heading {
    color: var(--SECONDARY__TEXT-COLOR);
  }

  .btn__primary {
    background: var(--BTN__BGCLOLOR);
    color: var(--PRIMARY__BTN__TEXT-COLOR);
    width: 200px;
    border-radius: 10px;
  }
}
