<div class="container-sm">
    <section class="container p-5 my-5 ">
        <img class="logo"
            src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
            alt="logo" srcset="">

        <img class="img-responsive"
            src="https://cdn.dribbble.com/users/1355613/screenshots/12513516/media/2764c4b62466225659afbed429b8fc2c.jpg?resize=1600x1200&vertical=center">

        <h4>Turn your vision into a thriving reality</h4>
        <p>Unleash the full potential of your business idea with our AI guidance and support</p>

        <button routerLink="/choose">Get Started <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg> </button>


    </section>
</div>


