
<div class="container-sm">
  <a [routerLink]="['/']" routerLinkActive="router-link-active">
    <img class="logo"
            src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
            alt="logo" srcset="">

  </a>

      <img class="img-responsive"
          src="../../../assets/images/choose.svg">

  <section class="container p-2 my-2 ">

      <h2>Make your dream a reality </h2><br>
      <p class="mb-5">Sign up to begin your business journey with an experienced buddy. Ready when you are.</p>
      <div class="row row-cols-2 justify-content-between mt-2">
              <div class="col">
                  <button class="btn" id="btnB" routerLink="/register">Sign Up </button>
              </div>
              <div class="col">
                  <button class="btn" routerLink="/login">Sign In </button>
              </div>
      </div>


  </section>
</div>
