h2 {
  font-family: var(--font-stack);
  color: var(--SECONDARY__TEXT-COLOR);
  font-weight: 900;
}

p {
  font-family: var(--font-stack);
  color: var(--PRIMARY__TEXT-COLOR);
}

.btn {
  width: 150px;
  border-radius: 30px;
  height: 35px;
  color: #ffffff;
  background-color: var(--SECONDARY__BTN__TEXT-COLOR);
}
#btn {
  color: var(--SECONDARY__BTN__TEXT-COLOR);
  background-color: #ffffff;
  border: 1px solid;
}

@media (max-width: 768px) {
  .heading {
    text-align: center;
  }
}
