<header>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="">
        <img
          src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
          height="120"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
    </div>
  </nav>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm p-5">
      <img
        src="../../../assets/images/choose.svg"
        height="200"
        class="img-fluid"
        width="520"
        alt="Landing-SVG"
        loading="lazy"
      />
    </div>
    <div class="col-sm justify-content-center">
      <div class="p-2">
        <h2 class="heading mb-2">Make your dream a reality</h2>
      </div>
      <div>
        <p class="mx-2 mb-3 p-2">
          Sign up to begin your business journey with an experienced buddy.
          Ready when you are.
        </p>
      </div>
      <div class="d-flex justify-content-start gap-5">
        <button id="btn" routerLink="/register" class="btn mx-2">
          Sign Up
        </button>
        <button routerLink="/login" class="btn">Sign In</button>
      </div>
    </div>
  </div>
</header>
