<div class="container-sm">
    <img class="logo"
            src="https://cdn.discordapp.com/attachments/1093144894886924368/1132954106386980985/Regi-Pro_logo.jpg"
            alt="logo" srcset="">

        <img class="img-responsive"
            src="../../../assets/images/choose.svg">

    <section class="container p-2 my-2 ">
        
        <h2 class = "mb-4">Make your dream a reality </h2>
        <p>Sign up to begin your business journey with an experienced buddy.Ready when you are</p>
        <div class="container buttons">
            <div class="row g-2 mx-2">
                <div class="col-6">
                    <button class="col btn1" routerLink="/signUp">Sign up </button>

                </div>
                <div class="col-6">
                    <button class="col btn2" routerLink="/signIn">Sign in </button>

                </div>

            </div>
        </div>


    </section>
</div>