<div class="container-sm">
    <div class="form-container mx-auto">
        <div class="text-center">
            <h2>Sign Up</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" [(ngModel)]="fullname" [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Email</label>
                      <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                    <button type="submit" class="btn" style="text-decoration: white;">Submit</button>
                    <div>
                        <p>
                            Already have an account? <a routerLink="/login">Sign In</a>
                        </p>
                    </div>
                  </form>
    
            </div>
        </div>
    </div>
</div>