<div class="container" id="topcontainer">

    <div class="row">
        <div class="col">
            <img class="img-responsive py-5 mx-auto d-block"
            src="../../../assets/images/quize 5 ill.svg">
        </div>
    </div>
</div>

<div class="row row-cols-5 g-1 py-3 mx-4">
    <div class="col">
        <div class="circle">
            <div class="number text-white">
                1
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                2
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white ">
                3
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                4
            </div>
        </div>
    </div>

    <div class="col">
        <div class="border border-dark rounded-circle" id="active">
            <div class="number text-dark">
                5
            </div>
        </div>
    </div>
</div>

<div class="container py-4" id="bottomcontainer">

    <div class="container text-center py-3" id="cont">
    
        <div class="row row-cols-1 my-5">
            <div class="col text-center">
                <p>Please provide your CIPC enterprise number</p>
            </div>
        </div>
    
        <div class="row position-relative">
            <div class="col position-absolute top-50 start-50 translate-middle mx-2">
                <input type="text" class="form-control" placeholder="eg. 2021/ 519789/ 07">
            </div>
        </div>
    </div>
    
    <div class="container my-2">
        <div class="row row-cols-2">
            <div class="col-5 position-absolute start-0 mx-3 my-4">
                <button type="submit" class="btn" id="btnB">
                    Previous
                </button>
            </div>
    
            <div class="col-5 position-absolute end-0 mx-4 my-4">
                <button type="submit" class="btn">
                    Next
                </button>
            </div>
        </div>
    </div>

</div>
