<div class="container" id="topcontainer">

    <div class="row">
        <div class="col">
            <img class="img-responsive py-5 mx-auto d-block"
            src="../../../assets/images/quize 5 ill.svg">
        </div>
    </div>
</div>

<div class="row row-cols-5 g-1 py-3 mx-4">
    <div class="col">
        <div class="circle">
            <div class="number text-white">
                1
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                2
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white ">
                3
            </div>
        </div>
    </div>

    <div class="col">
        <div class="circle">
            <div class="number text-white">
                4
            </div>
        </div>
    </div>

    <div class="col">
        <div class="border border-dark rounded-circle" id="active">
            <div class="number text-dark">
                5
            </div>
        </div>
    </div>
</div>

<div class="container py-4" id="bottomcontainer">

    <div class="container text-center py-5" id="cont">
    
        <div class="row row-cols-1 my-4">
            <div class="col text-center">
                <p>Have you registered your business?</p>
            </div>
        </div>
    
        <div class="row row-cols-2 justify-content-between py-2">
             <div class="col">
                <button type="submit" class="btn">
                    Yes
                </button>
             </div>
    
             <div class="col">
                <button type="submit" class="btn">
                    No
                </button>
             </div>
        </div>
    </div>
    
    <div class="container my-5 mx-2">
        <div class="row justify-content-center">
            <div class="col ">
                <button class="btn" type="button" id="btnB">Previous</button>
            </div>
        </div>
    </div>

</div>